<a href="https://colab.research.google.com/github/brijeshpanchal1618/EDA-Project/blob/likhita-work/CreditCardFraud_Likhita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import python libraries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# read csv file
data = pd.read_csv("creditcard.csv")

In [3]:
# display first 5 rows of data
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
# display last 5 rows of data
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
71391,54278,1.039072,-0.213656,0.431251,0.918611,-0.621456,-0.667224,0.134553,-0.181427,0.400214,...,-0.167499,-0.510090,-0.079011,0.444677,0.428995,0.256921,-0.039011,0.031128,106.85,0.0
71392,54279,-5.084290,-4.002881,1.329865,-0.573442,-0.690674,0.019033,0.844001,-0.466913,0.381563,...,-0.962575,0.808686,2.249283,0.165161,1.093631,-0.235500,-0.055029,-0.272360,314.31,0.0
71393,54280,1.441869,-0.411978,-0.357381,-0.981390,-0.244335,-0.292055,-0.242842,-0.091250,-1.241760,...,-0.832744,-2.041536,0.134713,-0.883851,0.100577,0.680045,-0.083669,-0.013649,11.97,0.0
71394,54280,-0.441533,0.363429,1.434158,-2.116500,-0.582532,-1.354317,0.886887,-0.335278,0.949012,...,-0.028278,0.146103,-0.101250,0.781919,0.258258,-0.843708,0.155215,0.121668,57.01,0.0
71395,54281,1.236141,0.256586,0.175963,0.504282,-0.197600,-0.569588,-0.058326,-0.005874,-0.125664,...,-0.263713,-0.821591,0.081703,-0.056701,0.212892,NaN,NaN,NaN,NaN,NaN

In [6]:
# shape of the table
data.shape

(71396, 31)

In [7]:
# column names 
data.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [8]:
# information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71396 entries, 0 to 71395
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    71396 non-null  int64
 1   V1      71396 non-null  float64
 2   V2      71396 non-null  float64
 3   V3      71396 non-null  float64
 4   V4      71396 non-null  float64
 5   V5      71396 non-null  float64
 6   V6      71396 non-null  float64
 7   V7      71396 non-null  float64
 8   V8      71396 non-null  float64
 9   V9      71396 non-null  float64
 10  V10     71396 non-null  float64
 11  V11     71396 non-null  float64
 12  V12     71396 non-null  float64
 13  V13     71396 non-null  float64
 14  V14     71396 non-null  float64
 15  V15     71396 non-null  float64
 16  V16     71396 non-null  float64
 17  V17     71396 non-null  float64
 18  V18     71396 non-null  float64
 19  V19     71396 non-null  float64
 20  V20     71396 non-null  float64
 21  V21     71396 non-null  float64
 22  V22     71396 non-null  float64
 23  V23     71396 non-null  float64
 24  V24     71396 non-null  float64
 25  V25     71396 non-null  float64
 26  V26     71395 non-null  float64
 27  V27     71395 non-null  float64
 28  V28     71395 non-null  float64
 29  Amount  71395 non-null  float64
 30  Class   71395 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 16.9 MB

In [9]:
# satistical values 
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,...,71396.000000,71396.000000,71396.000000,71396.000000,71396.000000,71395.000000,71395.000000,71395.000000,71395.000000,71395.000000
mean,35055.563561,-0.250504,-0.024291,0.680177,0.168666,-0.271040,0.099770,-0.114766,0.056620,0.015428,...,-0.029127,-0.106465,-0.038743,0.006299,0.135575,0.022523,0.003183,0.002667,97.025534,0.002479
std,14520.870592,1.878010,1.662180,1.416337,1.374613,1.391090,1.306664,1.254943,1.235873,1.158743,...,0.739744,0.637897,0.618135,0.596845,0.439801,0.498018,0.380726,0.322048,270.294373,0.049730
min,0.000000,-56.407510,-72.715728,-33.680984,-5.172595,-42.147898,-26.160506,-31.764946,-73.216718,-9.283925,...,-34.830382,-10.933144,-26.751119,-2.836627,-7.495741,-2.534330,-8.567638,-9.617915,0.000000,0.000000
25%,28974.000000,-1.010292,-0.593559,0.193390,-0.725828,-0.889117,-0.637894,-0.604620,-0.141800,-0.674023,...,-0.226008,-0.526153,-0.178826,-0.325263,-0.128302,-0.328836,-0.062649,-0.005907,7.680000,0.000000
50%,38225.000000,-0.248095,0.072348,0.770235,0.187351,-0.304114,-0.152017,-0.074537,0.067075,-0.072527,...,-0.060585,-0.080540,-0.050892,0.062736,0.173577,-0.075501,0.009524,0.022785,26.520000,0.000000
75%,46035.000000,1.153531,0.727542,1.402152,1.052356,0.267542,0.493215,0.420223,0.346259,0.664229,...,0.115776,0.308386,0.079827,0.403583,0.422309,0.300840,0.082696,0.075835,88.680000,0.000000
max,54281.000000,1.960497,18.902453,4.226108,16.715537,34.801666,22.529298,36.677268,20.007208,10.392889,...,22.614889,10.503090,17.297845,4.014444,5.525093,3.517346,11.135740,33.847808,19656.530000,1.000000

In [11]:
# check for null values 
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [12]:
# find types of transaction - fraud or normal
data['Class'].unique()

array([ 0.,  1., nan])

In [16]:
# count of all types of transactions
data['Class'].value_counts()

0.0    71218
1.0      177
Name: Class, dtype: int64